* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat+Alternates:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;500;700&family=Rubik:ital,wght@0,400;0,700;1,500&display=swap');

$main-color:#CD4631;
$background:#F7EDE8;

.wrapper {
    width: 1440px;
    margin: 0 auto;
    border: 1px solid black;
    font-family: 'Montserrat Alternates', sans-serif;
}

.content {
    width: 1160px;
    margin: 0 auto;
}

.header {
    display: flex;
    gap: 60px;
    width: 100%;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
    background-color: $background;

    .header_icon {
        border-radius: 100%;
        border: 2px solid black;
        width: 64px;
        height: 64px;
        position: relative;

        .text {
            background-color: $background;
            position: absolute;
            bottom: -5px;
            right: -22px;
            width: 38px;
            height: 39px;
            font-weight: 700;
            line-height: 1;
            padding: 2px;

            :first-child {
                color: $main-color;
            }
        }
    }

    .header_menu {
        display: flex;
        gap: 60px;
        font-weight: 700;
        margin-left: 60px;

        .item_drop {
            display: flex;
            gap: 4px;
        }
    }

    .button_wrap {
        gap: 20px;
        display: flex;
        margin-left: 240px;

        .button1 {
            font-weight: 700;
            font-size: 14px;
            color: black;
            border: 2px solid black;
            width: 188px;
            height: 41px;
            display: flex;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

        .button2 {
            font-weight: 700;
            font-size: 14px;
            color: white;
            border: 1px solid black;
            width: 136px;
            border-radius: 10px;
            height: 41px;
            display: flex;
            display: flex;
            justify-content: center;
            background-color: black;
            align-items: center;
        }
    }
}

.content1 {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: max-content;
    padding: 64px 0 120px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content1_tittle {
        text-align: center;
        font-size: 96px;
        font-weight: 700;
        line-height: 1;

        :first-child {
            color: $main-color;
        }
    }

    .content1_text {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        width: 20%;
        margin-top: 40px;
    }

    .button_wrap {
        display: flex;
        gap: 20px;

        :first-child {
            width: 218px;
            height: 62px;
            background-color: transparent;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 160%;
            color: #000000;
            margin-top: 60px;
            border: 1px solid black;
            border-radius: 8px;
        }

        .content1_button {
            width: 184px;
            height: 62px;
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 14px;
            margin-top: 60px;
            box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
        }
    }

}

.content2 {
    width: 100%;
    background-color: $background;
    display: flex;
    gap: 20px !important;

    .slick-list {
        padding: 0 10% 0 10% !important;
    }

}