* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat+Alternates:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@300;500;700&family=Rubik:ital,wght@0,400;0,700;1,500&display=swap');

$main-color:#CD4631;
$background:#F7EDE8;

.wrapper {
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    font-family: 'Montserrat Alternates', sans-serif;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.navMenu{
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999999999;
  .overlay
  {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    .inner
    {
      width: 300px;
      background-color: white;
      .up{
        position: relative;
        .avatar
        {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          background-color: white;
        }
        .close
        {
          position: absolute;
          font-size: 24px;
          font-weight: bold;
          color: white;
          cursor: pointer;
          z-index: 10;
          top: 10%;
          right: 10%;
        }
        width: 100%;
        background-color: $main-color;
        color: white;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        height: 120px;
      }
      .down
      {
        margin-top: 20px;
        .option
        {
          display: flex;
          padding: 20px;
          gap: 20px;
          font-size: 30px;
          cursor: pointer;
          transition: all 0.2s linear;
          .option_text
          {
            a{
              text-decoration: none;
              color: black;
            }
          }
        }
        .option:hover
        {
          background-color: lightblue;
        }
      }
    }
  }
  
}
.header {
  display: flex;
  gap: 60px;
  
  padding: 30px 140px;
  align-items: center;

  background-color: $background;

  .header_icon {
 
    .img{
      img{
        width: 100%;
      }
    }
    
  }

  .header_menu {
    display: flex;
    gap: 60px;
    font-weight: 700;
    margin-left: 124px;
    width: 40%;
    .item
    {
      a{
        text-decoration: none;

      }
    }
    .item_drop {
      display: flex;
      gap: 4px;
      a{
        text-decoration: none;
        
      }
    }
  }

  .button_wrap {
    gap: 20px;
    display: flex;
    margin-left: 240px;
    width: 40%;
    justify-content: center;
    .button1 {
      font-weight: 700;
      font-size: 14px;
      color: black;
      border: 2px solid black;
      width: 188px;
      height: 41px;
      display: flex;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }

    .button2 {
      font-weight: 700;
      font-size: 14px;
      color: white;
      border: 1px solid black;
      width: 136px;
      border-radius: 10px;
      height: 41px;
      display: flex;
      display: flex;
      justify-content: center;
      background-color: black;
      align-items: center;
    }

    .header__hamburgerMenu
    {
      display: flex;
      align-items: center;
      display: none;
      .hambuger
      { 
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
  .sticky{
    position: sticky;
    width: 100%;
    top: 0; // phai co em
    z-index: 9999; // che het
  }
.content1 {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 100px 140px 40px 140px;
    height: max-content;
    display: flex;
    justify-content: center;
    gap: 118px;

    .left {
        width: 40%;

        img {
            width: 100%;
        }

        .down {
            margin-top: 80px;
            display: flex;
            gap: 60px;

            .tags_name {
                font-weight: 700;
                font-size: 14px;
                line-height: 160%;
                color: #4D4D4D;
            }

            .tags_wrap {
                display: flex;

                gap: 6px;

                .tag {
                    padding: 6px 12px;
                    background-color: transparent;
                    width: max-content;
                    border: 1px solid #4D4D4D;
                }
            }
        }
    }

    .right {
        width: 60%;

        .right_header {
            display: flex;

            .text {
                width: 50%;
            }

            .header_img {
                width: 50%;
                display: flex;
                justify-content: flex-end;
            }
        }

        .right_tittle {
            font-weight: 700;
            font-size: 36.65px;
            line-height: 100%;
            letter-spacing: -0.02em;
            color: #000000;
            margin-top: 16px;
            padding-bottom: 23px;
            border-bottom: 1px solid black;
        }

        .right_text {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: #4D4D4D;
            margin-top: 20px;
        }

        .avatar {
            display: flex;
            margin-top: 40px;
            align-items: center;

            .img {
                width: 50%;
                display: flex;
                gap: 10px;

                .name {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 160%;
                    color: #4D4D4D;
                }
            }


            .date {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
                color: #4D4D4D;
            }
        }

        .button_wrap {
            margin-top: 60px;
            display: flex;
            gap: 20px;

            .button1 {
                font-weight: 700;
                font-size: 14px;
                color: white;
                border: 1px solid black;
                width: 160px;
                border-radius: 10px;
                height: 62px;
                display: flex;

                justify-content: center;
                background-color: black;
                align-items: center;
            }

            .button2 {
                font-weight: 700;
                font-size: 14px;
                color: black;
                border: 1px solid black;
                width: 268px;
                border-radius: 10px;
                height: 64px;
                display: flex;
                gap: 16px;
                justify-content: center;
                background-color: transparent;
                align-items: center;
            }
        }
    }




}


.detail_header {
    margin: 0 auto;
    padding: 100px 140px 0 140px;

    .wrap {
        position: relative;

        .tittle {
            font-weight: 700;
            font-size: 59.3px;
            line-height: 120%;
            text-align: center;
            letter-spacing: -0.02em;
            color: #000000;
        }

        .img {
            position: absolute;
            top: -50%;
            left: 25%;
        }
    }

    .menu {
        display: flex;
        gap: 80px;
        justify-content: center;
        padding-bottom: 20px;
        margin-top: 100px;
        border-bottom: 1.5px solid #4D4D4D;

        .item {
            padding: 8px 16px;
            font-style: normal;
            font-weight: 500;
            font-size: 22.65px;
            line-height: 160%;
            color: #4D4D4D;
        }
    }

}

.episodes {
    position: relative;
    
    display: flex;
    flex-direction: column;
    padding: 0 140px 140px 140px ;
    .deco1
    {
        position: absolute;
        top: -35%;
        right: 0;
    }
    .deco2{
        position: absolute;
        bottom: 5%;
        left: 0;
        transform: rotate(200deg);
    }
    .connect {
      position: absolute;
      top: 0%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  
    .tittle {
      font-weight: 700;
      font-size: 59.3px;
      line-height: 120%;
      /* or 71px */
  
      text-align: center;
      letter-spacing: -0.02em;
  
      /* Black */
  
      color: #000000;
    }
  
    .text {
      font-style: normal;
      font-weight: 500;
      font-size: 22.65px;
      line-height: 160%;
      /* or 36px */
      margin-top: 20px;
      text-align: center;
  
      /* Davys Grey */
  
      color: #4D4D4D;
    }
  
    .episodes_content {
  
      display: flex;
      flex-wrap: wrap;
      margin-top: 100px;
      gap: 20px;
  
  
      .special {
        box-shadow: 10px 10px 0px #81ADC8;
      }
  
      .item {
        padding: 16px;
        width: 49%;
        background-color: white;
        display: flex;
        gap: 20px;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 12px;
  
        .left {
          width: 30%;
  
          .img {
            img {
              width: 100%;
              border-radius: 10px;
            }
          }
  
          .button_wrap {
            margin-top: 20px;
            display: flex;
            gap: 6px;
  
            .width {
              width: 100px !important;
            }
  
            .butoon {
              width: max-content;
              border: 1px solid black;
              padding: 6px;
              font-size: 10.5px;
            }
          }
        }
  
        .right {
          width: 70%;
  
          .black {
            color: black !important;
          }
  
          .vol {
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            color: #CD4631;
            margin-top: 17.5px;
          }
  
          .name {
            font-weight: 700;
            margin-top: 4px;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: -0.02em;
            padding-bottom: 15px;
            border-bottom: 1px solid black;
            color: #CD4631;
          }
  
          .desc {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 160%;
            /* or 22px */
            margin-top: 10px;
  
            /* Davys Grey */
  
            color: #4D4D4D;
          }
  
          .host {
            display: flex;
            justify-content: flex-end;
            align-items: center;
  
  
            .text {
              transform: translateY(-50%);
              text-align: center;
              font-weight: 700;
              font-size: 12px;
              line-height: 160%;
              color: #4D4D4D;
              margin-right: 10px;
            }
  
            .ava {
              img {
                border-radius: 100%;
              }
            }
          }
  
        }
      }
  
    }
  
    .button {
      width: 253px;
      height: 82px;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 160%;
      /* or 22px */
      margin: 0 auto;
      margin-top: 100px;
      background-color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #000000;
      box-sizing: border-box;
      box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      cursor: pointer;
      color: #FFFFFF;
      transition: all 0.1s linear;
    }
  
    .button:hover {
      background: greenyellow;
      color: black;
      border: none;
      transform: scale(1.2);
    }
  
  }






.app {
    width: 100%;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 140px;
    background-image: url('../images/background-good.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    .connect {
        position: absolute;
        top: 0%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    .tittle {
        font-weight: 700;
        font-size: 59.3px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.02em;
        width: 45%;
        margin-top: 20px;
    }

    .text {
        font-style: normal;
        font-weight: 500;
        font-size: 22.65px;
        line-height: 160%;
        text-align: center;
        margin-top: 28px;
    }

    .button_wrap {
        position: relative;
        padding-top: 140px;

        .button {
            background: #000000;
            border: 2px solid #000000;
            box-sizing: border-box;
            box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            font-weight: 700;
            font-size: 14px;
            line-height: 160%;
            width: 210px;
            height: 62px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            position: relative;
            cursor: pointer;
        }

        .img {
            position: absolute;
            top: 50%;
            right: -20%;
            transform: rotate(90deg);
        }
    }

    .footer {
        .text {
            font-weight: 500;
            font-size: 14px;
            line-height: 160%;
            color: #4D4D4D;
            margin-top: 24px;
        }

        .icon {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}

.footer_end {
    padding: 140px 140px 80px 140px;
    display: flex;
    flex-direction: column;

    .up {
        width: 100%;
        height: 499px;
        display: flex;
        justify-content: center;
        align-items: center;

        .col1 {
            height: 100%;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            .logo_wrap {
                display: flex;
                gap: 25px;
                align-items: flex-end;

                .text {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 160%;
                    color: #4D4D4D;
                }
            }

            .col1_text {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
                width: 80%;
                color: #4D4D4D;

            }

            .col1_icon {
                display: flex;
                gap: 25px;
                font-size: 24px;
            }
        }

        .col2 {
            display: flex;
            width: 30%;

            gap: 93px;

            .left {
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                color: #000000;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .right {
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                color: #000000;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }

        .col3 {
            width: 40%;

            .text {
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                color: #4D4D4D;
            }

            .logo_wrap {
                display: flex;
                margin-top: 29px;

                div {
                    width: 33%;

                    img {}
                }
            }

            .text2 {
                margin-top: 60px;
                font-weight: 500;
                font-size: 16px;
                line-height: 160%;
                /* identical to box height, or 26px */


                /* Davys Grey */

                color: #4D4D4D;
            }

            .icon {
                margin-top: 20px;
                display: flex;
                gap: 25px;
            }
        }
    }


    .down {
        height: 20%;
        display: flex;
        padding-top: 20px;
        border-top: 1px solid black;

        .text {
            width: 50%;
        }

        .down_priavcy {
            display: flex;
            width: 50%;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

        }
    }
}

@media screen and (max-width : 1320px) {
  .header
  {
    gap: 0px;
  
    .header_icon
    {
      width: 10%;
    }
    .header_menu{
      width: 50%;
      margin-left: 50px;
      gap: 20px;
    }
    .button_wrap{
      margin-left: 50px;
    }
  }
}
@media screen and (max-width : 1080px) {
  .header
  {
    gap: 0px;
    padding: 30px 0px;
    .header_icon
    {
    
    }
    .header_menu{
      width: 50%;
      margin-left: 50px;
      gap: 20px;
    }
    .button_wrap{
      margin-left: 50px;
    }
  }
}
@media screen and (max-width : 768px) {
  .header
  {
    .header_icon
    {
      width: 20%;
    }
    .header_menu
    {
      display: none;
    }
    .button_wrap
    {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
        .button1{
          display: none;
        }
        .button2{
          display: none;
        }
      .header__hamburgerMenu
      {
        display: block;
      }
    }
  }
}
